<!DOCTYPE html>
<html>
  <head>
      <!-- EXTRAHUOMIO TÄHÄN miten osia (partial) includetaan -->
      <% include partials/head.ejs %>
  </head>
  <body>
      <% include partials/nav.ejs %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
